[
{be2bill, [{env, [dev_env, prod_env]}   %  
          ,{dev_env, [sandbox]}
          ,{prod_env, [production]}
          ]}
,"releases/1/production" % relative path to cwd for release
,"releases/1/sandbox"    % to be changed for manual start with -config option 
].
